<div class="w-25 m-auto border border-secondary rounded mt-3">
    <div class="bg-success ">
   <h2 class=" mx-5 text-light p-2">Login</h2>
    </div>
    <form class="mx-3" [formGroup]="loginForm">
       <!-- {{loginForm.value |json}}-->
        <div class="form-group mt-3 text-secondary  ">
          <label for="usernam">Username</label>
          <input type="text"  formControlName="username"  class="form-control  " >
        </div>
        <div class="form-group mt-3 text-secondary">
          <label for="Password">Password</label>
          <input type="password" formControlName="password" class="form-control  ">
        </div>
        <button type="submit" (click)="login()" class="btn btn-success  mt-3 mb-3">Login</button>
      </form>
</div>